<a href="https://colab.research.google.com/github/mckore/Explore_Projects_Tutorials/blob/master/CS_310_HW1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [21]:
import pandas as pd
import numpy as np
import math as ma

In [22]:
np.set_printoptions(suppress=True)

HW Questions: Section 1.1 - 1,2,4,8,15,20 
Class Problems: a) 12.3 b) -11.001001001 c) .15050505  d) 3.0939393939

Question 1:

In [23]:
data = {
    "m1":[1,2,2,17,-6,0,-10,-10**30,10**29],
    "n1":[20,21,20,72,4,40,-1,10**30,10**30]
}
df = pd.DataFrame(data)
m=df.m1
n=df.n1

In [29]:
#Condition 1
#assuming definition of "between" is inclusive { m<= i <=n }
x=n-m+1
print(x)

0                                 20
1                                 20
2                                 19
3                                 56
4                                 11
5                                 41
6                                 10
7    2000000000000000000000000000001
8     900000000000000000000000000001
dtype: object

In [25]:
#Condition 2 (exclusive)
#if by "between" means m < i < n 
y = n-m-1  #also expressed y = n-(m+1)
print(y)

0                                 18
1                                 18
2                                 17
3                                 54
4                                  9
5                                 39
6                                  8
7    1999999999999999999999999999999
8     899999999999999999999999999999
dtype: object

Assuming the question for between meant exclusive
Answers (inclusive , exclusive) 1a: (20,18) ; 1b: (20,18); 1c: (19,17); 1d: (56,54); 1e: (11,9) ; 1f: (41,39) ; 1g: (10,8) ; 1h: (2000000000000000000000000000001, 1999999999999999999999999999999) ; 1i: (900000000000000000000000000001, 899999999999999999999999999999)

Question 2:

In [28]:
#a How many 4 digit numbers are there
9999-1000+1

9000

Answer 2a: 9000

In [36]:
#Question 2: b:d
#Ending in 1 would be a multiple of 10...
#answers are the same for ending in 0 , and multiples of 10 
ma.floor(99999/10)-ma.floor((10000-1)/10)

9000

In [37]:
#I am not sure that I understand why m is 10001 and n is 99991 
#(accounting for every 5 digit ending in 1), the answer is 8999
ma.floor(99991/10)-ma.floor((10001-1)/10)

8999

Answer 2b: 9000 ; 2c: 9000 ; 2d: 9000

Question 4:

In [36]:
#Question 4: a:e
fl = np.array([ma.ceil(0.763), #a
               (2*ma.ceil(0.6))-ma.ceil(1.2), #b
               ma.ceil(1.1)+ma.ceil(3.3), #c
               ma.ceil(ma.sqrt(3))-ma.floor(ma.sqrt(3)), #d
               ma.ceil(-73)-ma.floor(-73)]) #e
fl

array([1, 0, 6, 1, 0])

Answers 4a: 1 ; 4b: 0 ; 4c:6 ; 4d: 1 ; 4e:0

Question 8:

In [19]:
n8 = np.array([80,100,2967,34, 10**5, 3400])
m8=np.array([1,0,9,-6,10**4,-600])

In [20]:
np.floor(n8/10)-np.floor((m8-1)/10)

array([   8.,   11.,  296.,    4., 9001.,  401.])

Answers 8a: 8 ;   8b: 11 ;   8c: 296 ;
        8d: 4 ;   8e: 9001 ; 8f: 401

Question 15:

In [7]:
#Question 15a - Number of primes between 1 and 10e30

n=float(10**30)
m = 1
(n/np.log(n))-((m-1))/np.log(m-1)
#Without the 0 waring message
n/np.log(n)

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:4: RuntimeWarning: divide by zero encountered in log
  after removing the cwd from sys.path.

1.4476482730108394e+28

Answer 15a: 1.4476482730108394e+28

In [9]:
#Question 15b 
#Number of primes between 1 and 10e29
n= float(10**29)
m=1
#m will produce 0 again 
n/np.log(n)

1.4975671789767306e+27

Answer 15b : **1.4975671789767306e+27**

In [17]:
#Question 15c
#Number of 30 digit primes 
n=float((10**30)-1)
m=float(10**29)

(n/np.log(n))-((m-1)/np.log(m-1))

1.2978915551131663e+28

Answer 15c: 1.2978915551131663e+28

Question 20: