<a href="https://colab.research.google.com/github/mckore/Explore_Projects_Tutorials/blob/master/CS_310_HW1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [32]:
import pandas as pd
import numpy as np
import math as ma

HW Questions: Section 1.1 - 1,2,4,8,15,20 
Class Problems: a) 12.3 b) -11.001001001 c) .15050505  d) 3.0939393939

Question 1:

In [9]:
data = {
    "m":[1,2,2,17,-6,0,-10,-10**30,10**29],
    "n":[20,21,20,72,4,40,-1,10**30,10**30]
}
df = pd.DataFrame(data)

In [10]:
m=df.m
n=df.n

In [11]:
#if definition of "between" m<= i <=n
x=n-m+1
print(x)

0                                 20
1                                 20
2                                 19
3                                 56
4                                 11
5                                 41
6                                 10
7    2000000000000000000000000000001
8     900000000000000000000000000001
dtype: object

In [12]:
#if by "between" means m < i < n 
y = n-m-1
print(y)

0                                 18
1                                 18
2                                 17
3                                 54
4                                  9
5                                 39
6                                  8
7    1999999999999999999999999999999
8     899999999999999999999999999999
dtype: object

Question 2:

In [ ]:
data2 = {
    "m":[1000,99991,99990,99990],
    "n":[9999,10001,10000,10000]
}
df = pd.DataFrame(data2)

In [ ]:
#a How many 4 digit numbers are there
9999-1000+1

9000

In [ ]:
#b How Many 5 digit numbers are there that end in 1
9*10*10*10*1

9000

In [33]:
#Ending in 1 would be a multiple of 10 
ma.floor(99999/10)-ma.floor((10000-1)/10)
9*10*10*10*1

9000

In [ ]:
#c How Many 5 digit numbers ending in 0
9*10*10*10*1

9000

In [35]:
fl = np.array([ma.floor(0.763), (2*ma.ceil(0.6))-ma.ceil(1.2), ma.ceil(1.1)+ma.ceil(3.3), ma.ceil(ma.sqrt(3))-ma.floor(ma.sqrt(3)),ma.ceil(-73)-ma.floor(-73)])
fl

array([0, 0, 6, 1, 0])

In [30]:
sqrt(9)

NameError: ignored

In [24]:
for i in fl:
  x = math.floor(i)
  print(x)

1
2
3

Question 4:

Question 8:

Question 15:

Question 20: