<a href="https://colab.research.google.com/github/mckore/Explore_Projects_Tutorials/blob/master/Sets_and_Sequence_1dot1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np

Question 1: How many integers are there between each set of numbers?

In [13]:
q1 = np.array([[1,20],[2,21],[2,20], [17,72],[-6,4],[0,40],[-10,-1], [-10**30,10**30],[10**29,10**30]])
q1

array([[1, 20],
       [2, 21],
       [2, 20],
       [17, 72],
       [-6, 4],
       [0, 40],
       [-10, -1],
       [-1000000000000000000000000000000,
        1000000000000000000000000000000],
       [100000000000000000000000000000, 1000000000000000000000000000000]],
      dtype=object)

Creating dataframe object

In [45]:
data = {
    "m":[1,2,2,17,-6,0,-10,-10**30,10**29],
    "n":[20,21,20,72,4,40,-1,10**30,10**30]
}

df = pd.DataFrame(data)

In [64]:
#Row location
#df.loc
for x in range(2,30,3):
  print(x)

2
5
8
11
14
17
20
23
26
29

In [67]:
m =df.m
n = df.n

In [78]:
#Successful with problem 1 creating a series
x = n-m+1
print(x)

0                                 20
1                                 20
2                                 19
3                                 56
4                                 11
5                                 41
6                                 10
7    2000000000000000000000000000001
8     900000000000000000000000000001
dtype: object

In [14]:
def int_explore(m,n):
  answer = n-m+1
  return answer

In [60]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  print(x)
  if x == "banana":
    continue
    print(x)

apple
banana
cherry

In [18]:
q1[0][0]
q1[0][1]

20

In [22]:
int_explore(q1[3][0],q1[3][1])

56

In [34]:
capture = []
for (idx,value) in enumerate(q1):
  capture = int_explore(q1[idx][0],q1[idx][1])
  break
  print(capture)

9