<a href="https://colab.research.google.com/github/mckore/Explore_Projects_Tutorials/blob/master/Traction_Scrape.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
from urllib.request import urlopen
from bs4 import BeautifulSoup
import pandas as pd
import numpy as np

In [3]:
url = 'https://www.lawnsite.com/threads/ztr-tire-recommendations-steep-slope.314574/'
page = urlopen(url)
page

In [ ]:
html_bytes = page.read()
html = html_bytes.decode('utf-8')

In [5]:
#Parse through HTML doc with BS4
soup=BeautifulSoup(html, 'html.parser')

CREATING IDENTIFYING FEATURES FOR CORPUS DOCUMENTS

Review Objects

In [ ]:
#REVIEWS Isolating for Review objects
soup_class=soup.find_all(class_="bbWrapper")
len(soup_class)
#Explore contents
text =soup_class[0]
text.contents

In [8]:
# Function to convert   
def listToString(s):  
    # initialize an empty string 
    str1 = " " 
    # return string   
    return (str1.join(s))

In [9]:
#REVIEW Filtered for one review instance - strip strings 
def Review_Sub_1(list_list_reviews):
  result=[]
  for string in list_list_reviews.stripped_strings:
        result.append(string)
        return(result)

In [10]:
Review_Sub_1(soup_class[0])

['I have an older (1994)  Bunton 60" ZTR that I am using this year on my new property in VA.  I have some very steep grades, and my existing Carlisle turfmate tires don\'t seem to get any traction to the point that I just start to slide down the hill.  I have a bad feeling about setting myself up for an accident, so thought I should look at replacing the tires with something with a more aggressive tread.']

In [11]:
#REVIEW Function to capture all reviews on a page
review_net=[]
def Concat_Reviews(list_reviews):
  for list_list_reviews in list_reviews:
    wa = Review_Sub_1(list_list_reviews)
    review_net.append(wa)
  return(review_net)

In [12]:
All_Reviews_PG1 = Concat_Reviews(soup_class)
All_Reviews_PG1

[['I have an older (1994)  Bunton 60" ZTR that I am using this year on my new property in VA.  I have some very steep grades, and my existing Carlisle turfmate tires don\'t seem to get any traction to the point that I just start to slide down the hill.  I have a bad feeling about setting myself up for an accident, so thought I should look at replacing the tires with something with a more aggressive tread.'],
 ['get a walkbehind mower.'],
 ['"sliding down the hill" is probably a bit of an exaggeration.  I lose traction and the machine skids sideways, and it takes a fair amount of maneuvering to get it back on the swath I am cutting.  Your point is well taken, however, about the grade being steep for a ZTR.'],
 ['Bad Boy offers a "Field Trax" tire option I was thinking about these tires regardless what ZTR I end up buying. Might have to be a little more on the ball to not tear up turf in the turns but the added traction for wet Oregon ground in the spring and fall will be helpful to me.'],
 ["Carlisle AT101 CHEVRON. We've had good results with our Kubota outfront. We foam filled these tires to prevent sidewall deflection and lower the centre of gravity. They seriously weigh 70 pounds each loaded-up. You may have to go to TRUE POWER to get the right size for you"],
 ["I too would be interested in some feedback.  I bought an Exmark XS zero turn.  Came from factory with Carlisle Multi-trac C/S.  When going horizontally along a 45 degree hill, the heavy mower will slip down the hill.  The ZTR's front caster will turn downhill.  I'll try to slow down or reverse the wheel on the high side.  This does nothing but spin the wheel and the whole machine continues to turn sharply down the hill until it's off the slope."],
 ["The game with slope running is that you use the lower wheel steering almost exclusively. In your case don't reverse the upper wheel to prevent a dive, it doesn't have enough traction. You should power forward with the lower wheel, the opposite to what you"],
 ["Thank you Heather for the quick reply.  I have tried your suggestion of accelerating the wheel lower on the hill.  This just decreases the arc but ultimately the result is still off track at the bottom.  What's weird is this happens right to left (i.e. right wheel higher).  When going from left to right, it's fine and I can control just as you've described.  I suspect the left wheel may be in worse condition."],
 ["I like the design of the AT101 and know they are out there on the Dixie Choppers.    Unfortunately, they don't come in my 23x10.50-12 size.  Carlisle Tru Power looks like they would rip the lawn pretty badly on turns with their flat face, even though they carry the size."],
 ['23 x 10.5 -12 Carlisle ALL TRAIL']]

In [13]:
len(All_Reviews_PG1)

10

User Name

In [17]:
#USERNAME Isolating for Username objects
name_class = soup.find_all(class_="message-name")
#Sample
name_class[3].get_text()

'Jaybo700R'

In [209]:
for i in name_class[6].stripped_strings:
  print(i)

heather lawn sp

In [14]:
#USERNAME Filtered for one username instance - strip strings 
def UN_Sub_1(list_list_un):
  result_un=[]
  for string in list_list_un.stripped_strings:
        result_un.append(string)
        return(result_un)

In [15]:
#USERNAME Function to capture all username on a page
un_net=[]
def Concat_User(list_un):
  for list_list_un in list_un:
    wa = UN_Sub_1(list_list_un)
    un_net.append(wa)
  return(un_net)

In [20]:
All_UN_PG1 = Concat_User(name_class)

In [ ]:
All_UN_PG1

Building the Dataframes

In [35]:
df_review = pd.DataFrame(All_Reviews_PG1, columns= ["Review"])
df_username = pd.DataFrame(All_UN_PG1, columns=["Username"])

In [59]:
#Concatenating two dataframes on axis 1
df_all = pd.concat([df_username, df_review], axis=1, sort=False)
df_all

          Username                                             Review
0    ribertgropius  I have an older (1994)  Bunton 60" ZTR that I ...
1              bam                            get a walkbehind mower.
2    ribertgropius  "sliding down the hill" is probably a bit of a...
3        Jaybo700R  Bad Boy offers a "Field Trax" tire option I wa...
4  heather lawn sp  Carlisle AT101 CHEVRON. We've had good results...
5           JENHEN  I too would be interested in some feedback.  I...
6  heather lawn sp  The game with slope running is that you use th...
7           JENHEN  Thank you Heather for the quick reply.  I have...
8    ribertgropius  I like the design of the AT101 and know they a...
9  heather lawn sp                   23 x 10.5 -12 Carlisle ALL TRAIL

In [50]:
#Dataframes adding columns from lists
df = pd.DataFrame()
df['Review']=All_Reviews_PG1
df['Username']=All_UN_PG1
df

                                              Review           Username
0  [I have an older (1994)  Bunton 60" ZTR that I...    [ribertgropius]
1                          [get a walkbehind mower.]              [bam]
2  ["sliding down the hill" is probably a bit of ...    [ribertgropius]
3  [Bad Boy offers a "Field Trax" tire option I w...        [Jaybo700R]
4  [Carlisle AT101 CHEVRON. We've had good result...  [heather lawn sp]
5  [I too would be interested in some feedback.  ...           [JENHEN]
6  [The game with slope running is that you use t...  [heather lawn sp]
7  [Thank you Heather for the quick reply.  I hav...           [JENHEN]
8  [I like the design of the AT101 and know they ...    [ribertgropius]
9                 [23 x 10.5 -12 Carlisle ALL TRAIL]  [heather lawn sp]

In [60]:
#Dataframe from list to dictionary to df
turtle = {'username': All_UN_PG1, 'review': All_Reviews_PG1}
df_dict = pd.DataFrame(data =turtle)
df_dict

            username                                             review
0    [ribertgropius]  [I have an older (1994)  Bunton 60" ZTR that I...
1              [bam]                          [get a walkbehind mower.]
2    [ribertgropius]  ["sliding down the hill" is probably a bit of ...
3        [Jaybo700R]  [Bad Boy offers a "Field Trax" tire option I w...
4  [heather lawn sp]  [Carlisle AT101 CHEVRON. We've had good result...
5           [JENHEN]  [I too would be interested in some feedback.  ...
6  [heather lawn sp]  [The game with slope running is that you use t...
7           [JENHEN]  [Thank you Heather for the quick reply.  I hav...
8    [ribertgropius]  [I like the design of the AT101 and know they ...
9  [heather lawn sp]                 [23 x 10.5 -12 Carlisle ALL TRAIL]

Workbook

In [72]:
#string array example
import numpy as np
z=np.array(['Foo', 'Bar', 'Baz', 'Woo'])
print(z)

['Foo' 'Bar' 'Baz' 'Woo']

In [102]:
catch=[]
for i in str_list:
  b = "hmmm"
  x = i+b
  catch.append(x)
print(catch)

['foohmmm', 'barhmmm', 'mehhmmm', 'plinkhmmm']